.container {
  background-color: #d6eaf8;
  color: #1b4f72;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: grid;
  grid-template: 0.5fr 2fr 1fr / 2fr 1.5fr;
  gap: 10px;
  height: 100vh;
}

/* HEADER SECTION */
header {
  grid-column: span 2;
  padding: 10px;
}

header div h2 {
  align-items: center;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  margin: 10px 0;
}

/* NAVIGATION SECTION */
nav {
  align-items: center;
  display: flex;
  padding: 10 10px 10px 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

/* NAVIGATION BAR ITEM SECTION */
nav ul li {
  margin-left: auto;
  margin-right: 20px;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a.active {
  color: #f39c12;
  font-weight: bold;
}

a:hover {
  color: #f39c12;
  font-weight: bold;
}

/* MAIN SECTION */
main {
  background-color: #1b4f72;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #d6eaf8;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-content: space-between;
  padding: 20px;
}

main div h3 {
  font-size: 1.9rem;
}

main div p {
  font-size: 3rem;
  line-height: normal;
}

main div p span {
  color: #f39c12;
  font-style: italic;
  font-weight: bold;
}

/* QUOTE SECTION */
aside {
  background-color: #2980b9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #d6eaf8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

aside div h4 {
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
}

select {
  margin-bottom: 20px;
  padding: 10px;
}

button {
  border-radius: 16px;
  margin: 10px 0;
  padding: 10px;
}

button#btnBookService {
  background-color: #f39c12;
  color: #1b4f72;
}

button#btnBookService:hover {
  font-weight: bold;
}

button#btnGetQuote {
  background-color: #2980b9;
  border: solid 2px #f39c12;
  color: #f39c12;
  font-weight: bold;
  margin: 0 auto;
}

button#btnGetQuote:hover {
  background-color: #f39c12;
  color: #d6eaf8;
  font-weight: bold;
}

/* FOOTER SECTION */
footer {
  grid-column: span 2;
  padding: 10px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.lower-footer-content {
  display: flex;
  justify-content: space-between;
}

.lower-footer-content ul {
  display: flex;
  list-style-type: none;
}

.lower-footer-content ul li {
  margin-right: 20px;
}
